.section1holder,.section2holder,.section3holder{
    height: 35rem;
    background-color: black;
    border-radius: 10px 10px 0px 0px;
    width: 16rem;
    position:relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}
.controls{
    display: flex;
    justify-content: center;
    gap: 1rem;
}
.sections{
    display: flex;
    gap: 1rem;
    justify-content: center;
}
.disk{
    height: 2rem;
    border-radius: 10px;
}
button{
    width: 10rem;
    height: 2rem;
    border-radius: 10px;
    background-color: #4C6793;
    color: white;
    font-size: 1.1rem;
    cursor: pointer;
    outline: none;
    border: 0;
}
